/* == global css start here === */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
ul,ol,li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
/* == global css end here === */


/* === navbar start here ==== */
#navbar{
    
    background: #071B27;
    position: absolute;
    width: 100%;
    left: 0;
    top: 33px;
    right: 0;
}
.container{
    max-width: 1340px;
    margin: 0 auto;
    
    
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul{
    display: flex;
    column-gap: 32px;
    justify-content: center;
}

.menu ul li a{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    line-height: normal;
    text-transform: uppercase;
    transition: all linear 0.3s;
    position: relative;
}
.menu ul li a:hover{
    color: #289BDE;
}
.menu ul li a:hover::after{
    position: absolute;
    width: 100%;
    height: 1px;
    background: #feffff;
    left: 0;
    bottom: 0;
    content: "";
}
.nav-button{
    display: flex;
    column-gap: 18px;
    justify-content: end;
}
.nav-button a{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    line-height: normal;
    text-transform: capitalize;
    transition: all linear 0.3s;
    position: relative;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #FFF;
    padding: 9px 15px;
}
.nav-button a:hover{
    background: #289BDE;
    border: 1px solid transparent;
}
/* === navbar end here ==== */

/* === banner start here ==== */
#banner{
    padding: 177px 0 350px 0;
    background: #071B27;
}
#banner .banner-wrapper{
   
}
#banner .banner-wrapper h4{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    line-height: normal;
    text-align: center;
    
}
#banner .banner-wrapper h1{
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    line-height: normal;
    text-align: center;
    max-width: 1117px;
    margin: 0 auto;
}
.banner-button{
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-top: 40px;
}
.banner-button a{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    line-height: normal;
    text-transform: capitalize;
    transition: all linear 0.3s;
    position: relative;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #FFF;
    padding: 20px 30px;
}
.banner-button a:hover{
    background: #289BDE;
    border: 1px solid transparent;
}

.banner-emoji{
    position: relative;
}
.banner-emoji .banner-left-emoji {
    width: 300px;
    position: absolute;
    left: -90px;
    top: -310px;
}
.banner-emoji .banner-right-emoji {
    width: 300px;
    position: absolute;
    right: -90px;
    top: -310px;
}
/* === banner end here ==== */

/* === banner card start here ==== */
#card{
    
}
.card-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 32px;
    margin-top: -188px;
    gap: 32px;
}
#card .card-item1{
    width: 343px;
    height: 432px;
    border-radius: 15px;
    /* background: red; */
    overflow: hidden;
}
#card .card-item1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 15px; */
}
#card .card-item2{
    width: 418px;
    height: 350px;
    border-radius: 15px;
    
    position: relative;
}
#card .card-item2 .inner-item1 {
    width: 234px;
    height: 281px;
    border-radius: 12px;
    /* background: rgb(12, 146, 63); */
    margin-top: 50px;
    overflow: hidden;
}

#card .card-item2 .inner-item1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 12px; */}
    #card .card-item2 .inner-item2 {
        width: 300px;
        height: 140px;
        border-radius: 8px;
        /* background: rgb(200, 19, 79); */
        position: absolute;
        left: 83px;
        top: -4px;
        overflow: hidden;
    }
#card .card-item2 .inner-item2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 8px; */}
#card .card-item3{
    width: 445px;
    height: 385px;
    margin-top: 47px;
    border-radius: 12px;
    /* background: rgb(39, 9, 212); */
    overflow: hidden;
}
#card .card-item3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 12px; */}


/* === banner card end here ==== */

/* === about start here ==== */
#about{
    padding: 140px 0;
    /* background: #F9F9F9; */
}
.about-heading{
    margin: 0 auto;
    text-align: center;
}
.subtitle{
    color: #289BDE;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    
}
.title{
    color: #071B27;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
.about-heading p{
    color: #666;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 auto;
    max-width: 613px;
}

.about-wrapper{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.about-item{
    display: flex;
    align-items: center;
    gap: 100px;
}

.about-item-content{
    max-width: 786px;
}

.about-item-content h3{
    color: #071B27;
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    margin-top: 40px;
}
.about-item-content p{
    color: #666;
    font-size: 20px;
    font-weight: 400;
    line-height: 41px;
    
}
.about-item-content p span{
    color: #289BDE;
    font-weight: 700;
}

.about-item-img{
    max-width: 454px;
    max-height: 485px;
    overflow: hidden;
}
.about-item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-item:nth-child(even){
    flex-direction: row-reverse;

}
/* === about end here ==== */

/* === service start here ==== */
#service{
    padding: 156px 0;
    background: #071B27;
}
.service-heading .subtitle{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
.service-heading .title{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}
.service-wrapper{
    display: flex;
    gap: 40px;
    margin-top: 60px;
    justify-content: space-between;
}
.service-left{
    border-radius: 8px;
    border: 1px solid #FFF;
    opacity: 0.8;
    background: rgba(255, 255, 255, 0.10);
    max-width: 643px;
}
.service-item .service-item-img{
    overflow: hidden;
    width: 563px;
    height: 447px;
    background: #289BDE;
    margin-bottom: 44px;
}

.service-item .service-item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service-item{
    padding: 40px;
}
.service-item-content h3{
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 24px;
}
.service-item-content h3 i{
    margin-left: 10px;
}
.service-item-content ul li{
    color: #E6E6E6;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}

.service-item-content ul li strong{
    color: #289BDE;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.service-item-content ul li{
    position: relative;
    padding-left: 37px;
    margin-top: 24px;
}

.service-item-content ul li i{
    height: 24px;
    width: 20.5px;
    border-radius: 5px;
    border: 2px solid #289BDE;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    position: absolute;
    left: 0;
    top: 8px;
}

.service-wrapper .service-left:hover{
    border: 1px solid transparent;
}
/* === service end here ==== */

/* === mission start here ==== */
#mission{
    padding: 140px 0;
    background: #FFF;
}

.mission-wrapper{
    display: flex;
    /* gap: 40px; */
    justify-content: space-between;
    align-items: center;
}
.mission-wrapper .mission-image{
    width: 662px;
    height: 518.5px;
    overflow: hidden;
    border-radius: 8px;
}
.mission-wrapper .mission-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mission-content h4{
    max-width: 451px;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    margin-bottom: 32px;
}
.mv .details h3{
    color: #071B27;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.26px;
    margin-bottom: 12px;
}

.mv .details p{
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
    letter-spacing: 0.16px;
    max-width: 479px;
}
.mv .details{
    position: relative;
    padding-left: 69px;
    margin-top: 25px;
}
.mv i{
    color: #FFF;
    background: #289BDE;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    text-align: center;
    line-height: 47px;
    position: absolute;
    top: 6px;
    left: 0;
    font-size: 20px;
}
.mv:last-child i{
    background: gold;
    font-size: 20px;
}
/* === mission end here ==== */

/* === testimonial start here ==== */
#testimonial{
    padding-bottom: 140px;
    background: #FFF;
}
.testimonial-heading p{
    margin: 0 auto;
    color: #666;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    max-width: 628px;
}
.testimonial-wrapper{
    margin-top: 58px;
    display: flex;
    /* column-gap: 24px; */
    row-gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonial-review{
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgba(102, 102, 102, 0.40);
    width: 32%;
    
}
.testimonial-review .top{
    display: flex;
    gap: 32px;
    align-items: center;
}
.testimonial-review .top img{
    width: 68px;
    height: 68px;
    border-radius: 50%;
    object-fit: cover;
    
}
.testimonial-details h5{
    color: #071B27;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}
.testimonial-details i{
    font-size: 18px;
    color: #FFB906;
}
.testimonial-review .bottom p{
    color: #666;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 180% */
}
/* === testimonial end here ==== */


/* === community start here ==== */
#Community{
 padding-bottom: 140px;
}
.community-heading p{
    color: #666;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 0 auto;
    max-width: 622px;
    letter-spacing: 0.2px;
}
.community-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
    align-items: center;
    margin-bottom: 60px;
}
.community-left{
    max-width: 438px;
}
.community-left h3{
    color: #071B27;
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.26px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    margin-bottom: 37px;
}
.community-left h3 i{
    margin-left: 10px;
}
.community-left ul li h6{
    color: #071B27;
    font-size: 17px;
    font-weight: 500;
    line-height: normal;

}
.community-wrapper ul li p{
    color: #666;
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    margin-top: 9px;
}
.community-wrapper ul li{
    position: relative;
    padding-left: 33px;
}

.community-wrapper ul li i{
    height: 24px;
    width: 20.5px;
    border-radius: 5px;
    border: 2px solid #289BDE;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    position: absolute;
    left: 0;
    top: 6px;
    background: #289BDE;
    color: #FFF;
}
.community-wrapper ul{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.community-middle-img{
    width: 294px;
    height: 574px;
    overflow: hidden;
}
.community-middle-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.community-button{
    
    margin: 0 auto;
    text-align: center;
    
    
}
.community-button a{
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
    transition: all linear 0.3s;
    background: #289BDE;
    padding: 13px 28px;
    border-radius: 5px;
    border: 1px solid transparent;  
}
.community-button a:hover{
    background: #071B27;
    border: 1px solid transparent;
}
/* === community end here ==== */

/* === CONTRACT start here ==== */
#contact{
    padding-bottom: 100px;
}
.contact-heading p{
    color: #666;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 0 auto;
    max-width: 622px;
    letter-spacing: 0.2px;
}
.contact-wrapper{
    margin-top: 61px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contact-left{
    max-width: 445px;
}
.contact-left h4{
    color: #12141D;
    font-size: 42px;
    font-weight: 500;
    line-height: 52px;
    margin-bottom: 22px;
}
.contact-left p{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 14px;
}
.contact-left .info-item img{
    width: 20px;
    height: 15px;
    object-fit: cover;
    margin-right: 10px;
}
.contact-left .info-item span{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    display: inline-block;
    margin-top: 15px;

}
.contact-left .info p{
    margin-top: 21px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.contact-right .box{
    max-width:498px;
    min-height: 692px;
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.08);
    padding: 36px;
}
.contact-right .box h5{
    color: #12141D;
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    margin-bottom: 22px;
}
.contact-right .box label{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    color: #12141D;
}
.contact-right .box input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #DDE1E0;
    margin-bottom: 22px;
    height: 50px;
}
.contact-right .box button{
    width: 100%;
    background: #289BDE;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    cursor: pointer;
    padding: 16px 20px;
    border-radius: 10px;
    border: 1px solid transparent; 
    margin-top: 35px; 
}
/* === CONTRACT end here ==== */

/* === footer start here ==== */
footer{
    background: url("../images/footerBG.png") no-repeat left;
    background-size: cover;
    margin-bottom: 100px;
    padding: 70px 0;
}
footer .box{
    width: 851px;
    /* height: 444px; */
    border-radius: 10px;
    background: #FFF;
    margin:0 auto;
    padding: 70px 0;
    text-align: center;
    
}

footer .box h3{
    color: #071B27;
    font-size: 34px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 12px;

}
footer .box h6{
    color: #071B27;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 11px;

}
footer .box p{
    color: #666;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 30px;
    padding: 0 130px;
}
footer .box .footer-info{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    align-items: center;
}
footer .box .footer-info img{
    width: 20px;
    height: 15px;
    object-fit: cover;
    overflow: hidden;
    margin-right: 10px;
}
footer .box .footer-info{
    color: #666;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

footer .box a{
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
    transition: all linear 0.3s;
    background: #289BDE;
    padding: 13px 28px;
    border-radius: 5px;
    border: 1px solid transparent;
    display: inline-block;
    margin-top: 30px;  
}
.footer-line{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-top: 68px;
    height: 98px;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
    

    
}
.footer-middle a{
    display: inline-block;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
    
}
.footer-middle>a{
    margin-right: 17px;
}
.footer-right{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}
.footer-right a{
    display: inline-block;
    
    
}
.footer-right a i{
    font-size: 40px;
    color: #FFF;
    font-weight: 600;
    background: #289BDE;
    border: transparent;
}
.copyright{
    text-align: center;
    padding: 27px 0;
    margin: 0 auto;
}
.copyright p{
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
}



/* === footer end here ==== */

